# Credenciales base de datos Asientos
ASIENTOS_DB_USER=user_asientos
ASIENTOS_DB_PASSWORD=asientos_secret_pass_2026
ASIENTOS_DB_NAME=asientos_db

# Credenciales base de datos Reservas
RESERVAS_DB_USER=user_reservas
RESERVAS_DB_PASSWORD=reservas_secret_pass_2026
RESERVAS_DB_NAME=reservas_db

# Autenticacion API REST Reservas
API_KEY=secreto-australair-2026